{% extends 'base/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% load crispy_forms_tags %}

{% block 'content' %}

    <br><br><br><br><br><br><br>
    <div class="container mt-4" >
        <div class="row justify-content-center">
        <div class="col-8">
            <h2 class="mt-2">Register</h2>
            <hr class="mt-4 mb-4">
                <form method="post">
                    {% csrf_token %}
                    <label>First name*</label>
                    {% render_field registerForm.first_name class="form-control" placeholder=form.first_name.label %}
                    <label class="mt-4">Last name*</label>
                    {% render_field registerForm.last_name class="form-control" placeholder=form.last_name.label %}
                    <label class="mt-4">Email*</label>
                    {% render_field registerForm.email class="form-control" placeholder=form.email.label %}
                    <label class="mt-4">Password*</label>
                    {% render_field registerForm.password class="form-control" placeholder=form.password.label %}
                    <label class="mt-4">Confirm Password*</label>
                    {% render_field registerForm.confirm_password class="form-control" placeholder=form.confirm_password.label %}
                    <button type="submit" class="mt-4 btn btn-success">Register</button>
                    <br>
                </form>
            </div>
        </div>
    </div>

{% endblock 'content' %}